[user]
	email = ssks81285@gmail.com
	name = ksonawat007
[core]
 	autocrlf = false
[filter "lfs"]
 	required = true
 	clean = git-lfs clean -- %f
 	smudge = git-lfs smudge -- %f
 	process = git-lfs filter-process
